html, body {
    height: 100%;
}
html, body{
    background-image: url(https://img.freepik.com/free-photo/closeup-hand-getting-money-from-atm_53876-14527.jpg?w=996&t=st=1685630508~exp=1685631108~hmac=a4fcbe1d2f7d653cfa49c8047c6cad906ac1c8268cc8f262dde7f8ee19d38afa);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#layer{
    background-color: rgb(0,0,0,0.80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.batas-melingkar{
    border-radius: 10px;
    min-width: 350px;
    max-width: 1000px;
}

.whatsapp {
    color: white;
}
.whatsapp:hover {
    color: rgb(78, 78, 78);
}
.email {
    color: white;
}
.email:hover {
    color: rgb(78, 78, 78);
}
.lokasi {
    color: white;
}
.lokasi:hover {
    color: grey
}
.tombol a {
    background-color: grey;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid white;
}
.tombol a:hover {
    color: white;
    background-color: rgb(78, 78, 78);
}

a.tombol {
    background-color: grey;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid white;
}

a.tombol:hover{
    color: white;
    background-color: rgb(78, 78, 78);
}

div.card {
    background-color: rgb(78, 78, 78);
    border-color: white;
}

div.ukuran-list{
    border: 1px solid white;
    max-height: 450px;
    max-width: 100%;
    min-width: 370px;
    color: white;
    overflow: scroll;
    background-color: rgb(78, 78, 78);
}

div.ukuran-max-offer {
    max-height: 550px;
    min-width: 100%;
    max-width: 100%;
    margin: 0px;
}

.tombol2 {
    background-color: grey;
    border-radius: 5px;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid white;
}

.tombol2:hover{
    color: white;
    background-color: rgb(78, 78, 78);
}

mark{
    border-radius: 5px;
    padding: 0px;
    color: white;
    font-weight: 500;
    background-color: grey;
}

@media only screen and (max-width: 750px) {
    .ukuran-font {
      font-size: 14px;
    }
  }

/* .cs-desain{
    background-color: grey;
    border-radius: 5px;
} */

.social-desain{
    background-color: gray;
    padding: 5px;
    /* border-radius: 5px; */
    margin: 0;
}

khusus {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    color: gray;
}

.ukuran-fontsize{
    font-size: 18px;
}