html, body{
    padding: 0;
    margin: 0;
}

body{
    background-color:#DDE6ED;
    height: 100vh;
}

.flex-content{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: lightcoral; */
    height: 100%;
}

.wrapper-content{
    background-color: #9DB2BF;
    width: 75%;
    height: 90%;
    /* border-radius: 16px; */
    box-shadow: 1px 1px 15px black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-wrapper ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    margin-bottom: 10px;
    /* background-color: lightcoral; */
    position: absolute;
    top: 0;
    left: 0;
}

.nav-wrapper ul li a{
    text-decoration: none;
    padding: 15px;
    /* background-color: lightblue; */
    display: inline-block;
    color: #27374D;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 15px;
    /* box-sizing: border-box; */
}

.nav-wrapper ul li a:hover{
    background-color: #27374D;
    color: #ffffff;
    /* font-size: 18px; */
    transition: 0.3s ease;
}

#link-active{
    background-color: #27374D;
    color: #ffffff;
}


/* ----------------------------------------------------------------------------- */

#first{
    /* background-color: lightpink; */
    /* height: 360px; */
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.first-left{
    /* background-color: lightskyblue; */
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.first-left-wrap{
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.first-left-wrap h1{
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    font-size: 35px;
    margin: 0;
    color: #27374D;
    /* text-align: right; */
}

.first-left-wrap p{
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
    margin: 0;
    /* text-align: center; */
    color: #27374D;
}




.first-right{
    /* background-color: lightgreen; */
    height: 100%;
    width: 50%;
}

.first-right-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.first-right-wrap::after{
    content: '';
    background-color: #526D82;
    height: 380px;
    width: 380px;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    right: 0;
    bottom: -10;
}

.first-right-wrap img{
    width: 70%;
    z-index: 2;
}

footer{
    /* background-color: lightyellow; */
    padding: 15px 15px 15px 15px;
    /* width: 98%; */
    position: absolute;
    bottom: 0;
}

footer i:hover{
    color: #27374D;
}

.social-media{
    display: flex;
    align-items: center;
    gap: 15px;
}

.social-media span{
    color: #DDE6ED;
    font-family: 'Outfit', sans-serif;
}

.social-media i{
    font-size: 30px;
    color: #DDE6ED;
}


#second{
    /* background-color: lightpink; */
    /* height: 360px; */
    width: auto;
    margin-left: auto;
    margin-right: auto;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
}

#second > h1{
    color: #27374D;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

.button-order{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-order a{
    display: inline-block;
    text-decoration: none;
    color: #DDE6ED;
    font-weight: 900;
    font-family: 'Heebo', sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #526D82;
    border-radius: 15px;
}

.button-order a:hover{
    background-color: #27374D;
    box-shadow: 1px 1px 5px black;
}

/* .second-wrapper{
    border: 2px solid black;
    width: 75%;
    height: 90%;
} */

.second-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

.services-card{
    width: 280px;
    background-color: #DDE6ED;
    height: 300px;
    /* display: block; */
    border-radius: 15px;
    cursor: pointer;
}

.services-card:hover{
    box-shadow: 1px 1px 5px black;
}

.card-wrap{
    padding: 10px;
}

.card-image i{
    font-size: 50px;
    color: #526D82;
}

.card-wrap .services-caption{
    color: #526D82;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 23px;
}

.card-wrap p{
    color: #526D82;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

#third{
    display: flex;
    justify-content: center;
}

.third-wrapper{
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.third-left{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27374D;
    border-radius: 15px;
}

.third-image{
    width: 95%;
    
}

.third-image img{
    width: 100%;
}

.third-right{
    width: 55%;
}

.third-right-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.part{
    background-color: #DDE6ED;
    border-radius: 15px;
    width: 450px;
}

.part:hover{
    box-shadow: 1px 1px 10px black;
}

.part h2{
    margin: 0;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    color: #27374D;
    font-size: 19px;
}

.part p{
    margin: 0;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: #27374D;
    font-size: 15px;
}

.space{
    padding: 10px;
}

#fourth .fourth-wrapper iframe{
    border-radius: 16px;
}
/* ---------------------------------------------------- */
@media only screen and (max-width: 1200px) {
    body{height: 1000px;}
}
@media only screen and (max-width: 992px) {
    body{height: 1200px;}
    #first{flex-direction: column; justify-content: center; align-items: center;}
    .first-left{order: 2; width: 98%;display: flex; justify-content: center; align-items: center;}
    .first-right{order: 1; width: 98%;display: flex; justify-content: center; align-items: center;}
    .first-right img{width: 400px;}
    .first-right-wrap::after{bottom: 0; left: 50%; transform: translateX(-50%); width: 400px; height: 400px;}

    .third-wrapper{flex-direction: column; gap: 20px;}
    .third-left{width: 100%;}
    .third-right{width: 100%;}
    .part{width: 100%;}

    .fourth-wrapper iframe{width: 500px; height:800px;}
}
@media only screen and (max-width: 786px){
    body{height: 1300px;}
    /* #first{flex-direction: column; justify-content: flex-start; align-items: flex-start;} */
    .first-right img{width: 300px;}
    .first-right-wrap::after{bottom: 0; left: 50%; transform: translateX(-50%); width: 300px; height: 300px;}

    .services-card{height: 290px; width: 250px;}
    .card-image i{font-size: 40px;}
    .card-wrap span.services-caption{font-size: 20px;}
    .card-wrap p{font-size: 18px;}

    .fourth-wrapper iframe{width: 320px; height:700px;}
}

@media only screen and (max-width: 576px){
    html{height: auto;}
    body{height: auto; display: flex; justify-content: center; align-items: center;}
    .first-right{margin-top: 100px;}
    .first-left{margin-bottom: 100px;}
    .wrapper-content{width: 95%;}
    .nav-wrapper ul li a{padding: 10px;}

    #second{margin-top: 100px; margin-bottom: 100px;}

    .second-wrapper{gap: 5px;}
    .services-card{height: 235px; width: 250px;}
    .card-image i{font-size: 40px;}
    .card-wrap span.services-caption{font-size: 20px; text-decoration: underline; margin-bottom: 10px; display: inline-block;}
    .card-wrap p{font-size: 18px; margin: 0;}

    .third-right{margin-bottom: 100px;}
    .third-left{margin-top: 100px;}
    .fourth-wrapper iframe{width: 300px; height:500px;}
    .fourth-wrapper{margin-top: 100px; margin-bottom: 100px;}
}